<section class="padding centerText grid">
  <div class="col-6">
    <h3 class="padding">Interested? Contact us to learn more</h3>
    <p>We want to help you get into a safe investment that is going to help you live the retirement of you dreams.</p>
    <div class="col-12">
      <i class="fas fa-2x fa-phone-square padding"></i><a href="#">888-888-8888</a>
    </div>
    <div class="col-12">
      <i class="far fa-2x fa-envelope padding"></i><a href="#">hello@mail.com</a>
    </div>
  </div>
  <div class="col-6 formBackground padding">
    <div class="form col-12 centerText">
      <h3>Fill in this form!</h3>
      <form method="POST" action="https://formspree.io/justyngourdin@gmail.com">
        <input type="name" name="name" placeholder="Your name">
        <input type="email" name="email" placeholder="Your email">
        <textarea name="message" placeholder="Your message"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
</section>
<footer class="grid-middle padding">
  <div class="col-4">
    <p>LOGO</p>
  </div>
  <div class="col-3 centerText">
    <h4>About Me</h4>
    <hr class="center">
    <h5>Specializing in TIC Investments for over 45 years | Over $60M in transactions closed since 2004</h5>
    <div class="col-12">
      <i class="fas fa-2x fa-phone-square padding"></i><a href="#">888-888-8888</a>
    </div>
    <div class="col-12">
      <i class="far fa-2x fa-envelope padding"></i><a href="#">hello@mail.com</a>
    </div>
  </div>
  <div class="col-3 centerText">
    <h4 class="centerText">Get Around</h4>
    <hr class="center">
    <ul>
      <li><a href="/faq">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/faq">1031 Exchange</a></li>
      <li><a href="/services">How it Works</a></li>
      <li><a href="/1031">Current Listings</a></li>
      <li><a href="/propertiesPage">TIC Investments</a></li>
    </ul>
  </div>
  <div class="col-1 centerText">
    <h5>Jump to top!</h5>
    <a href="#top"><i class="fas fa-3x fa-arrow-alt-circle-up"></i></a>
  </div>
</footer>
<div class="sub-footer">
  (c) 2017 | Website Designed & Built by Justyn Gourdin
</div>
