<header class="grid-spaceBetween-middle backgroundColor">
  <nav class="col-4">
    <a href="/">Logo will go here</a>
  </nav>
  <nav class="col4">

  </nav>
  <nav class="col-4">
    <i class="fas fa-2x fa-phone-square"></i><a href="#">888-888-8888</a>
    <i class="far fa-2x fa-envelope"></i><a href="#">hello@mail.com</a>
  </nav>
</header>
<header class="grid-spaceBetween-middle">
   <nav class="col-12">
     <a href="/"> Home </a>
     <a href="/about"> About Us </a>
       <div class="dropdown">
          <button onclick="myFunction()" class="dropbtn">Properties</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#">Property 1</a>
            <a href="#">Property 2</a>
            <a href="#">Property 3</a>
          </div>
      </div>
      <a href="/services"> What we do </a>
      <a href="/ticInvestments">TIC Investments</a>
      <a href="/faq">Frequently Asked Questions</a>
      <a href="/1031">1031 Exchange</a>
      <a href="/contact"> Contact Us </a>
   </nav>
</header>
<header class="hamburger">
  <nav class="hamburger">
	<div class="hamburger-button">
			<span class="hamburger-top"></span>
			<span class="hamburger-middle"></span>
			<span class="hamburger-bottom"></span>
	</div>
  <div class="hamburger-menu">
    <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/about">About Mike</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/faq">Frequently Asked Questions</a></li>
    <!-- <li><a href="/shop.html">Shop The Prints</a></li> -->
      <hr />
  </ul>
</div>
</nav>
</header>
