<!-- basic metadata -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--  Links to stylesheets -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.4.1/gridlex.min.css" rel="stylesheet" >
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" integrity="sha384-p2jx59pefphTFIpeqCcISO9MdVfIm4pNnsL08A6v5vaQc4owkQqxMV8kg4Yvhaw/" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Poiret+One|Poppins|Open+Sans" rel="stylesheet">
<link href="/styles/style.css" rel="stylesheet">

<!-- SEO and social metadata -->
<title>{{page.seo.title}} </title>
<meta name="description" content="{{page.seo.description}}">
<meta property="og:image" content="{{page.seo.social-image_path}}">
<meta property="og:description" content="{{page.seo.title}}">
<meta property="og:title" content="{{page.seo.title}}">
<meta name="twitter:title" content="{{page.seo.title}}">

<!-- Paste google analytics code here -->
